/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.small-font {
    font-size: 1.5rem;
    opacity: 0.8;
    vertical-align: top;
    font-weight: normal;
}